{"swagger":"2.0","info":{"description":"With the PureCloud Platform API, you can control all aspects of your PureCloud environment. With the APIs you can access the system configuration, manage conversations and more.","version":"v2","title":"PureCloud Platform API","termsOfService":"https://help.mypurecloud.com/articles/terms-and-conditions/","contact":{"name":"PureCloud Developer Evangelists","url":"https://developer.genesys.cloud/","email":"DeveloperEvangelists@genesys.com"},"license":{"name":"UNLICENSED","url":"https://help.mypurecloud.com/articles/terms-and-conditions/"}},"host":"api.mypurecloud.com","tags":[{"name":"Events","description":"Events","externalDocs":{"description":"Events Documentation","url":"https://developer.genesys.cloud/api/rest/v2/events/"}},{"name":"Authorization","description":"Roles and permissions","externalDocs":{"description":"Authorization Documentation","url":"https://developer.mypurecloud.com/api/rest/v2/authorization/"}},{"name":"Docs","description":"Swagger documentation definitions"},{"name":"Identity Provider","description":"Identity providers","externalDocs":{"description":"Identity Providers Documentation","url":"https://developer.genesys.cloud/authorization/oauth-apis/identityprovider/"}},{"name":"OAuth","description":"OAuth clients, providers","externalDocs":{"description":"OAuth Documentation","url":"https://developer.mypurecloud.com/api/rest/v2/oauth/"}},{"name":"Objects","description":"Access-controlled objects in the platform","externalDocs":{"description":"authorization docs","url":"https://developer.mypurecloud.com/api/rest/v2/authorization/"}},{"name":"Organization","description":"Organization","externalDocs":{"description":"Organization Documentation","url":"https://developer.genesys.cloud/organization/organization/"}},{"name":"Tokens","description":"Authentication Tokens","externalDocs":{"description":"Tokens Documentation","url":"https://developer.mypurecloud.com/api/rest/v2/tokens/"}},{"name":"Users","description":"Me, routing, roles","externalDocs":{"description":"Users Documentation","url":"https://developer.genesys.cloud/useragentman/users/"}},{"name":"Utilities","description":"","externalDocs":{"description":"Utilities Documentation","url":"https://developer.genesys.cloud/organization/utilities-apis"}},{"name":"Agent UI","description":"Agent UI settings and configuration"},{"name":"Alerting","description":"Rules and alerts","externalDocs":{"description":"Alerting Documentation","url":"https://developer.genesys.cloud/notificationsalerts/alerting/alerting-apis"}},{"name":"Analytics","description":"Analytics querying and reporting.","externalDocs":{"description":"Analytics Documentation","url":"https://developer.genesys.cloud/analyticsdatamanagement/analytics/analytics-apis"}},{"name":"Architect","description":"Flows, Prompts, IVR schedules, Dependency Tracking","externalDocs":{"description":"Architect Documentation","url":"https://developer.genesys.cloud/routing/architect/"}},{"name":"Agent Assistants","description":"Manage virtual agent assistants."},{"name":"Audit","description":"","externalDocs":{"description":"Audit Documentation","url":"https://developer.genesys.cloud/platform/audit/"}},{"name":"Badges","description":"Badges stats"},{"name":"Billing","description":"","externalDocs":{"description":"billing Documentation","url":"https://developer.genesys.cloud/billing/"}},{"name":"Bots","description":"Chatbot Interactions"},{"name":"Bridge","description":""},{"name":"Business Rules","description":"Business Rules"},{"name":"Callbacks","description":""},{"name":"Calls","description":""},{"name":"Carrier Services","description":""},{"name":"Chat","description":""},{"name":"Coaching","description":"Schedule and manage coaching appointments","externalDocs":{"description":"Coaching","url":"https://developer.genesys.cloud/routing/conversations/coaching-apis"}},{"name":"Cobrowse","description":""},{"name":"Compliance","description":""},{"name":"Configuration","description":"","externalDocs":{"description":"Configuration Documentation","url":"https://developer.genesys.cloud/devapps/api-explorer"}},{"name":"Content Management","description":"","externalDocs":{"description":"Content Management Documentation","url":"https://developer.genesys.cloud/analyticsdatamanagement/contentmanagement/contentmanagement-apis"}},{"name":"Conversations","description":"","externalDocs":{"description":"Conversations Documentation","url":"https://developer.genesys.cloud/routing/conversations/conversations-apis"}},{"name":"Data Extensions","description":"Data extensions","externalDocs":{"description":"Data Extensions","url":"https://developer.genesys.cloud/devapps/api-explorer"}},{"name":"Data Privacy","description":"Data privacy masking rules","externalDocs":{"description":"Data Privacy","url":"https://developer.genesys.cloud/devapps/api-explorer"}},{"name":"Data Subject Access Request","description":"Working with Data Subject Access Request (DSAR) requests","externalDocs":{"description":"DSAR Documentation","url":"https://developer.genesys.cloud/devapps/api-explorer"}},{"name":"Directory Proxy","description":"Search, Suggest, and people"},{"name":"Downloads","description":"Download file","externalDocs":{"description":"Downloads Documentation","url":"https://developer.genesys.cloud/devapps/api-explorer"}},{"name":"Emails","description":""},{"name":"Employee Engagement","description":"Employee Engagement","externalDocs":{"description":"Employee Engagement Documentation","url":"https://developer.genesys.cloud/useragentman/employeeengagement/"}},{"name":"External Contacts","description":"External Organizations, contacts, notes and relationships","externalDocs":{"description":"External Contacts","url":"https://developer.genesys.cloud/commdigital/externalcontacts/externalcontacts-apis"}},{"name":"Fax","description":"","externalDocs":{"description":"Fax Documentation","url":"https://developer.genesys.cloud/commdigital/fax/"}},{"name":"Flows","description":"IVR Flows","externalDocs":{"description":"Flow Aggregates Documentation","url":"https://developer.genesys.cloud/analyticsdatamanagement/analytics/aggregate/flow-query"}},{"name":"Gamification","description":"Gamification, Scorecard, and leaderboard","externalDocs":{"description":"Gamification Documentation","url":"https://developer.genesys.cloud/useragentman/gamification/"}},{"name":"General Data Protection Regulation","description":"Working with General Data Protection Regulation (GDPR) requests","externalDocs":{"description":"GDPR Documentation","url":"https://developer.genesys.cloud/gdprprivacy/"}},{"name":"Geolocation","description":"","externalDocs":{"description":"Geolocation Documentation","url":"https://developer.genesys.cloud/platform/geolocation-apis"}},{"name":"Greetings","description":"","externalDocs":{"description":"Greetings Documentation","url":"https://developer.genesys.cloud/commdigital/greetings/"}},{"name":"Groups","description":"Groups, members","externalDocs":{"description":"Groups Documentation","url":"https://developer.genesys.cloud/useragentman/groups/"}},{"name":"Infrastructure as Code","description":"Accelerated infrastructure configuration via reusable modules","externalDocs":{"description":"Infrastructure as Code Documentation","url":"https://developer.genesys.cloud/devapps/api-explorer"}},{"name":"Integrations","description":"","externalDocs":{"description":"Integrations Documentation","url":"https://developer.genesys.cloud/platform/integrations/"}},{"name":"Journey","description":"Predictive Engagement, Customer Journey","externalDocs":{"description":"Journey documentation","url":"https://developer.genesys.cloud/commdigital/digital/webmessaging/journey/journey-apis"}},{"name":"Languages","description":"Available languages","externalDocs":{"description":"Languages Documentation","url":"https://developer.genesys.cloud/organization/languages-apis"}},{"name":"Knowledge","description":"Knowledge administration and search"},{"name":"Language Understanding","description":"Language Understanding","externalDocs":{"description":"Language Understanding documentation","url":"https://developer.genesys.cloud/organization/languageunderstanding/languageunderstanding-apis"}},{"name":"Learning","description":"Manage learning modules"},{"name":"Licensing","description":""},{"name":"License","description":"Per-user platform license assignments","externalDocs":{"description":"License Documentation","url":"https://developer.genesys.cloud/organization/license-apis"}},{"name":"Locations","description":"Physical locations","externalDocs":{"description":"Locations Documentation","url":"https://developer.genesys.cloud/telephony/locations-apis"}},{"name":"Marketplace","description":"Marketplace listing management"},{"name":"Data Action Metrics","description":"Metrics about data actions"},{"name":"Log Capture","description":"Browser Log Capture"},{"name":"Meeting","description":"","externalDocs":{"description":"Meeting Documentation","url":"https://developer.genesys.cloud/devapps/api-explorer"}},{"name":"Messaging","description":"Messaging","externalDocs":{"description":"Messaging Documentation","url":"https://developer.genesys.cloud/devapps/api-explorer"}},{"name":"Mobile Devices","description":"Devices","externalDocs":{"description":"Devices Documentation","url":"https://developer.genesys.cloud/organization/mobiledevices-apis"}},{"name":"Notifications","description":"Channels, subscriptions, topics, mobile push registration","externalDocs":{"description":"Notifications Documentation","url":"https://developer.genesys.cloud/notificationsalerts/notifications/notifications-apis"}},{"name":"Onboarding","description":"Onboarding"},{"name":"Operational Events","description":"Operational events"},{"name":"Organization Authorization","description":"Organization Authorization","externalDocs":{"description":"Organization Authorization Documentation","url":"https://developer.genesys.cloud/authorization/oauth-apis/organizationauthorization-apis"}},{"name":"Outbound","description":"","externalDocs":{"description":"Outbound Documentation","url":"https://developer.genesys.cloud/routing/outbound/"}},{"name":"Presence","description":"User and organization presences","externalDocs":{"description":"Presence Documentation","url":"https://developer.genesys.cloud/useragentman/presence/"}},{"name":"Process Automation","description":"Work items, flows, triggers"},{"name":"Quality","description":"Evaluations, calibrations","externalDocs":{"description":"Quality Management Documentation","url":"https://developer.genesys.cloud/useragentman/quality/"}},{"name":"Recording","description":"Recordings, policies, annotations, orphans","externalDocs":{"description":"Recording Documentation","url":"https://developer.genesys.cloud/analyticsdatamanagement/recording/"}},{"name":"Response Management","description":"Responses, library, Response Assets, query","externalDocs":{"description":"Response Management Documentation","url":"https://developer.genesys.cloud/organization/responsemanagement-apis"}},{"name":"Routing","description":"Queues, wrapup codes, skills, email & sms config, predictive routing","externalDocs":{"description":"Routing Documentation","url":"https://developer.genesys.cloud/routing/routing/"}},{"name":"SCIM","description":"System for Cross-domain Identity Management","externalDocs":{"description":"System for Cross-domain Identity Management: Definitions, Overview, Concepts, and Requirements","url":"https://developer.genesys.cloud/useragentman/scim/scim-apis"}},{"name":"Screen Recording","description":"Screen recording with background assistant"},{"name":"Scripts","description":"Agent-facing scripts for interactions","externalDocs":{"description":"Scripts Documentation","url":"https://developer.genesys.cloud/routing/scripts/"}},{"name":"Search","description":"Search aggregate, users, groups","externalDocs":{"description":"Search Documentation","url":"https://developer.genesys.cloud/organization/search/"}},{"name":"Settings","description":"Persist settings"},{"name":"SignedData","description":"Package data in signed JWTs"},{"name":"Social Media","description":"Resources and analytics related to social media listening and response"},{"name":"Socialize","description":"Gets, sets and updates entity data for the Socialize service"},{"name":"Speech & Text Analytics","description":""},{"name":"Stations","description":"Stations","externalDocs":{"description":"Stations Documentation","url":"https://developer.genesys.cloud/telephony/stations-apis"}},{"name":"Suggest","description":"Search suggest user, group, locations"},{"name":"Teams","description":"Teams, members","externalDocs":{"description":"Teams Documentation","url":"https://developer.genesys.cloud/devapps/api-explorer"}},{"name":"Telephony","description":"Telephony providers and configuration","externalDocs":{"description":"Telephony Documentation","url":"https://developer.genesys.cloud/telephony/telephony-apis"}},{"name":"Telephony Providers Edge","description":"Edge phones, trunks, lines.","externalDocs":{"description":"telephony provider edge","url":"https://developer.genesys.cloud/telephony/telephony-apis"}},{"name":"Test Automation","description":"Internal Testing Tool for managing Testing Data"},{"name":"Textbots","description":"Chatbot Interactions"},{"name":"Uploads","description":"Presigned url generator for uploading files","externalDocs":{"description":"Upload Documentation","url":"https://developer.genesys.cloud/analyticsdatamanagement/uploads/uploads-apis"}},{"name":"User Recordings","description":"Summary, media","externalDocs":{"description":"User Recordings Documentation","url":"https://developer.genesys.cloud/analyticsdatamanagement/recording/userrecordings-apis"}},{"name":"Videos","description":""},{"name":"Voicemail","description":"Mailbox, messages, policy","externalDocs":{"description":"Voicemail Documentation","url":"https://developer.genesys.cloud/commdigital/voicemail/"}},{"name":"WebChat","description":"WebChat deployments","externalDocs":{"description":"WebChat Deployment Documentation","url":"https://developer.genesys.cloud/commdigital/digital/webchat/webchat-apis"}},{"name":"WebMessaging","description":"Web messaging","externalDocs":{"description":"Web Messaging Documentation","url":"https://developer.genesys.cloud/commdigital/digital/webmessaging/webmessaging-apis"}},{"name":"Widgets","description":"Widget deployments","externalDocs":{"description":"Widget Deployment Documentation","url":"https://developer.genesys.cloud/commdigital/digital/webchat/widgets-apis"}},{"name":"Usage","description":"View organizational level usage data","externalDocs":{"description":"Usage Documentation","url":"https://developer.genesys.cloud/platform/usage-apis"}},{"name":"Workforce Management","description":"Adherence, Schedules, Forecasts, Intraday Monitoring, Time Off Requests, Configuration","externalDocs":{"description":"Workforce Management Documentation","url":"https://developer.genesys.cloud/useragentman/workforcemanagement/"}},{"name":"Voicebots","description":"Voicebot Interactions"},{"name":"Web Deployments","description":"Web Deployments","externalDocs":{"description":"Web Deployments Documentation","url":"https://developer.genesys.cloud/commdigital/digital/webchat/webdeployments-apis"}},{"name":"Task Management","description":"Task Management"},{"name":"Agent Copilot","description":"Manage agent copilot configuration."},{"name":"AI Studio","description":"AI studio management."}],"schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/v2/webchat/guest/conversations":{"post":{"tags":["WebChat"],"summary":"Create an ACD chat conversation from an external customer.","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-removal-of-acd-web-chat-version-2/. This endpoint will create a new ACD Chat conversation under the specified Chat Deployment. The conversation will begin with a guest member in it (with a role=CUSTOMER) according to the customer information that is supplied. If the guest member is authenticated, the 'memberAuthToken' field should include his JWT as generated by the 'POST /api/v2/signeddata' resource; if the guest member is anonymous (and the Deployment permits it) this field can be omitted. The returned data includes the IDs of the conversation created, along with a newly-create JWT token that you can supply to all future endpoints as authentication to perform operations against that conversation. After successfully creating a conversation, you should connect a websocket to the event stream named in the 'eventStreamUri' field of the response; the conversation is not routed until the event stream is attached.","operationId":"postWebchatGuestConversations","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CreateConversationRequest","required":true,"schema":{"$ref":"#/definitions/CreateWebChatConversationRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CreateWebChatConversationResponse"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"chat.error.notnull.createconversationrequest.journeycontext.customer":"The customer may not be null.","chat.error.notnull.createconversationrequest.journeycontext.triggeringaction.actionmapversion":"The actionmapversion property may not be null.","chat.error.invalid.queue":"The specified queue is not valid.","chat.error.notnull.createconversationrequest.journeycontext.triggeringaction.actionid":"The actionid property may not be null.","bad.request":"The request could not be understood by the server due to malformed syntax.","chat.error.notnull.createconversationrequest.journeycontext.customer.customerid":"The customerid property may not be null.","constraint.validation":"%s","chat.error.notnull.createconversationrequest.memberinfo.displayname":"The displayname property may not be null.","chat.error.notnull.createconversationrequest.routingtarget":"The routingtarget property may not be null.","invalid.query.param.value":"Value [%s] is not valid for parameter [%s]. Allowable values are: %s","client.failed.request":"The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.","chat.error.notnull.createconversationrequest.journeycontext.customer.customeridtype":"The customeridtype property may not be null.","invalid.value":"Value [%s] is not valid for field type [%s]. Allowable values are: %s","chat.deployment.require.auth":"The deployment requires the customer member to be authenticated.","chat.error.notnull.createconversationrequest.journeycontext.customersession.sessionid":"The sessionid property may not be null.","chat.error.notnull.createconversationrequest.journeycontext.customersession.sessionidtype":"The sessionidtype property may not be null.","chat.deployment.bad.auth":"The customer member authentication has failed.","chat.error.notnull.createconversationrequest.journeycontext.triggeringaction.actionmapid":"The actionmapid property may not be null.","chat.error.createconversationrequest.routingtarget":"The routing target is not valid.","invalid.property":"Value [%s] is not a valid property for object [%s]","chat.deployment.disabled":"The web chat deployment is currently disabled.","chat.error.pattern.createconversationrequest.deploymentid":"The deploymentid property may not be null.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","chat.error.invalid.flow":"Invalid chat flow","invalid.date":"Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ","chat.error.bad.request":"Error occurred due to invalid request."}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"credentials.expired":"The supplied credentials are expired and cannot be used.","authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"origin.not.allowed":"Not allowed to create an ACD chat conversation from an external customer.","missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"caht.error":"Error performing chat conversation operation.","internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request."}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"chat.error.service.unavailable":"Chat service unavailable.","service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"chat.error.service.timeout":"Chat service timeout error.","authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"deprecated":true,"x-purecloud-method-name":"postWebchatGuestConversations"}},"/api/v2/webchat/guest/conversations/{conversationId}/mediarequests/{mediaRequestId}":{"get":{"tags":["WebChat"],"summary":"Get a media request in the conversation","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-legacy-co-browse-and-screenshare/","operationId":"getWebchatGuestConversationMediarequest","produces":["application/json"],"parameters":[{"name":"conversationId","in":"path","description":"conversationId","required":true,"type":"string"},{"name":"mediaRequestId","in":"path","description":"mediaRequestId","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WebChatGuestMediaRequest"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"bad.request":"The request could not be understood by the server due to malformed syntax.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","invalid.date":"Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ","invalid.query.param.value":"Value [%s] is not valid for parameter [%s]. Allowable values are: %s","invalid.property":"Value [%s] is not a valid property for object [%s]","constraint.validation":"%s","invalid.value":"Value [%s] is not valid for field type [%s]. Allowable values are: %s"}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"chat.error.not.found":"The media request was not found.","not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request."}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"security":[{"Guest Chat JWT":[]}],"deprecated":true,"x-purecloud-method-name":"getWebchatGuestConversationMediarequest"},"patch":{"tags":["WebChat"],"summary":"Update a media request in the conversation, setting the state to ACCEPTED/DECLINED/ERRORED","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-legacy-co-browse-and-screenshare/","operationId":"patchWebchatGuestConversationMediarequest","produces":["application/json"],"parameters":[{"name":"conversationId","in":"path","description":"conversationId","required":true,"type":"string"},{"name":"mediaRequestId","in":"path","description":"mediaRequestId","required":true,"type":"string"},{"in":"body","name":"body","description":"Request","required":true,"schema":{"$ref":"#/definitions/WebChatGuestMediaRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WebChatGuestMediaRequest"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"bad.request":"The request could not be understood by the server due to malformed syntax.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","chat.error.conversation.state":"The conversation is in a state which does not permit this action.","invalid.date":"Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ","invalid.query.param.value":"Value [%s] is not valid for parameter [%s]. Allowable values are: %s","client.failed.request":"The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.","invalid.property":"Value [%s] is not a valid property for object [%s]","constraint.validation":"%s","invalid.value":"Value [%s] is not valid for field type [%s]. Allowable values are: %s"}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"chat.error.not.found":"The media request was not found.","not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request."}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"security":[{"Guest Chat JWT":[]}],"deprecated":true,"x-purecloud-method-name":"patchWebchatGuestConversationMediarequest"}},"/api/v2/webchat/guest/conversations/{conversationId}/mediarequests":{"get":{"tags":["WebChat"],"summary":"Get all media requests to the guest in the conversation","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-removal-of-acd-web-chat-version-2/","operationId":"getWebchatGuestConversationMediarequests","produces":["application/json"],"parameters":[{"name":"conversationId","in":"path","description":"conversationId","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WebChatGuestMediaRequestEntityList"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"bad.request":"The request could not be understood by the server due to malformed syntax.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","invalid.date":"Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ","invalid.query.param.value":"Value [%s] is not valid for parameter [%s]. Allowable values are: %s","invalid.property":"Value [%s] is not a valid property for object [%s]","constraint.validation":"%s","invalid.value":"Value [%s] is not valid for field type [%s]. Allowable values are: %s"}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request."}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"security":[{"Guest Chat JWT":[]}],"deprecated":true,"x-purecloud-method-name":"getWebchatGuestConversationMediarequests"}},"/api/v2/webchat/guest/conversations/{conversationId}/members/{memberId}/messages":{"post":{"tags":["WebChat"],"summary":"Send a message in a chat conversation.","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-removal-of-acd-web-chat-version-2/","operationId":"postWebchatGuestConversationMemberMessages","produces":["application/json"],"parameters":[{"name":"conversationId","in":"path","description":"conversationId","required":true,"type":"string"},{"name":"memberId","in":"path","description":"memberId","required":true,"type":"string"},{"in":"body","name":"body","description":"Message","required":true,"schema":{"$ref":"#/definitions/CreateWebChatMessageRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WebChatMessage"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"chat.error.notnull.createconversationmessagerequest.body":"The request body may not be null.","bad.request":"The request could not be understood by the server due to malformed syntax.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","chat.error.conversation.state":"The conversation is in a state which does not permit this action.","invalid.date":"Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ","invalid.query.param.value":"Value [%s] is not valid for parameter [%s]. Allowable values are: %s","client.failed.request":"The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.","invalid.property":"Value [%s] is not a valid property for object [%s]","chat.error.member.state":"The conversation member is in a state which does not permit this action.","chat.error.bad.request":"Error occurred due to invalid request.","constraint.validation":"%s","invalid.value":"Value [%s] is not valid for field type [%s]. Allowable values are: %s"}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"credentials.expired":"The supplied credentials are expired and cannot be used.","authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request.","chat.error":"Error handing chat conversation messages operation."}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"security":[{"Guest Chat JWT":[]}],"deprecated":true,"x-purecloud-method-name":"postWebchatGuestConversationMemberMessages"}},"/api/v2/webchat/guest/conversations/{conversationId}/members/{memberId}/typing":{"post":{"tags":["WebChat"],"summary":"Send a typing-indicator in a chat conversation.","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-removal-of-acd-web-chat-version-2/","operationId":"postWebchatGuestConversationMemberTyping","produces":["application/json"],"parameters":[{"name":"conversationId","in":"path","description":"conversationId","required":true,"type":"string"},{"name":"memberId","in":"path","description":"memberId","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WebChatTyping"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"bad.request":"The request could not be understood by the server due to malformed syntax.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","chat.error.conversation.state":"The conversation is in a state which does not permit this action.","invalid.date":"Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ","invalid.query.param.value":"Value [%s] is not valid for parameter [%s]. Allowable values are: %s","client.failed.request":"The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.","invalid.property":"Value [%s] is not a valid property for object [%s]","chat.error.member.state":"The conversation member is in a state which does not permit this action.","constraint.validation":"%s","invalid.value":"Value [%s] is not valid for field type [%s]. Allowable values are: %s"}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"credentials.expired":"The supplied credentials are expired and cannot be used.","authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"chat.error.internal":"Internal chat error","internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request.","chat.error":"Error handing chat conversation typing operation."}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"security":[{"Guest Chat JWT":[]}],"deprecated":true,"x-purecloud-method-name":"postWebchatGuestConversationMemberTyping"}},"/api/v2/webchat/guest/conversations/{conversationId}/members/{memberId}":{"get":{"tags":["WebChat"],"summary":"Get a web chat conversation member","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-removal-of-acd-web-chat-version-2/","operationId":"getWebchatGuestConversationMember","produces":["application/json"],"parameters":[{"name":"conversationId","in":"path","description":"conversationId","required":true,"type":"string"},{"name":"memberId","in":"path","description":"memberId","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WebChatMemberInfo"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"bad.request":"The request could not be understood by the server due to malformed syntax.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","invalid.date":"Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ","invalid.query.param.value":"Value [%s] is not valid for parameter [%s]. Allowable values are: %s","invalid.property":"Value [%s] is not a valid property for object [%s]","constraint.validation":"%s","invalid.value":"Value [%s] is not valid for field type [%s]. Allowable values are: %s"}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"credentials.expired":"The supplied credentials are expired and cannot be used.","authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"chat.error.not.found":"The web chat conversation member was not found.","not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request.","chat.error":"Error handing chat conversation operation."}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"security":[{"Guest Chat JWT":[]}],"deprecated":true,"x-purecloud-method-name":"getWebchatGuestConversationMember"},"delete":{"tags":["WebChat"],"summary":"Remove a member from a chat conversation","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-removal-of-acd-web-chat-version-2/","operationId":"deleteWebchatGuestConversationMember","produces":["application/json"],"parameters":[{"name":"conversationId","in":"path","description":"conversationId","required":true,"type":"string"},{"name":"memberId","in":"path","description":"memberId","required":true,"type":"string"}],"responses":{"204":{"description":"Operation was successful."},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"bad.request":"The request could not be understood by the server due to malformed syntax.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","chat.error.conversation.state":"The conversation is in a state which does not permit this action.","chat.error.member.state":"The conversation member is in a state which does not permit this action."}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"credentials.expired":"The supplied credentials are expired and cannot be used.","authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request.","chat.error":"Error handing chat conversation operation"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"security":[{"Guest Chat JWT":[]}],"deprecated":true,"x-purecloud-method-name":"deleteWebchatGuestConversationMember"}},"/api/v2/webchat/guest/conversations/{conversationId}/members":{"get":{"tags":["WebChat"],"summary":"Get the members of a chat conversation.","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-removal-of-acd-web-chat-version-2/","operationId":"getWebchatGuestConversationMembers","produces":["application/json"],"parameters":[{"name":"conversationId","in":"path","description":"conversationId","required":true,"type":"string"},{"name":"pageSize","in":"query","description":"The number of entries to return per page, or omitted for the default.","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"The page number to return, or omitted for the first page.","required":false,"type":"integer","default":1,"format":"int32"},{"name":"excludeDisconnectedMembers","in":"query","description":"If true, the results will not contain members who have a DISCONNECTED state.","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WebChatMemberInfoEntityList"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"bad.request":"The request could not be understood by the server due to malformed syntax.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","invalid.date":"Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ","invalid.query.param.value":"Value [%s] is not valid for parameter [%s]. Allowable values are: %s","invalid.property":"Value [%s] is not a valid property for object [%s]","constraint.validation":"%s","invalid.value":"Value [%s] is not valid for field type [%s]. Allowable values are: %s"}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request."}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"security":[{"Guest Chat JWT":[]}],"deprecated":true,"x-purecloud-method-name":"getWebchatGuestConversationMembers"}},"/api/v2/webchat/guest/conversations/{conversationId}/messages/{messageId}":{"get":{"tags":["WebChat"],"summary":"Get a web chat conversation message","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-removal-of-acd-web-chat-version-2/","operationId":"getWebchatGuestConversationMessage","produces":["application/json"],"parameters":[{"name":"conversationId","in":"path","description":"conversationId","required":true,"type":"string"},{"name":"messageId","in":"path","description":"messageId","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WebChatMessage"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"bad.request":"The request could not be understood by the server due to malformed syntax.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","invalid.date":"Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ","invalid.query.param.value":"Value [%s] is not valid for parameter [%s]. Allowable values are: %s","invalid.property":"Value [%s] is not a valid property for object [%s]","constraint.validation":"%s","invalid.value":"Value [%s] is not valid for field type [%s]. Allowable values are: %s"}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"chat.error.not.found":"The web chat conversation message was not found.","not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request."}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"security":[{"Guest Chat JWT":[]}],"deprecated":true,"x-purecloud-method-name":"getWebchatGuestConversationMessage"}},"/api/v2/webchat/guest/conversations/{conversationId}/messages":{"get":{"tags":["WebChat"],"summary":"Get the messages of a chat conversation.","description":"This endpoint is deprecated. Please see the article https://help.mypurecloud.com/articles/deprecation-removal-of-acd-web-chat-version-2/","operationId":"getWebchatGuestConversationMessages","produces":["application/json"],"parameters":[{"name":"conversationId","in":"path","description":"conversationId","required":true,"type":"string"},{"name":"after","in":"query","description":"If available, get the messages chronologically after the id of this message","required":false,"type":"string"},{"name":"before","in":"query","description":"If available, get the messages chronologically before the id of this message","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"type":"string","default":"ascending","enum":["ascending","descending"]},{"name":"maxResults","in":"query","description":"Limit the returned number of messages, up to a maximum of 100","required":false,"type":"integer","default":100,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WebChatMessageEntityList"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"bad.request":"The request could not be understood by the server due to malformed syntax.","response.entity.too.large":"The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable","invalid.date":"Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ","invalid.query.param.value":"Value [%s] is not valid for parameter [%s]. Allowable values are: %s","invalid.property":"Value [%s] is not a valid property for object [%s]","constraint.validation":"%s","invalid.value":"Value [%s] is not valid for field type [%s]. Allowable values are: %s"}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.required":"No authentication bearer token specified in authorization header.","ip.not.authorized":"Requests originating from this IP address are not authorized: [%s]","bad.credentials":"Invalid login credentials."}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"missing.division.permission":"Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).","app.not.authorized.for.scope":"App not authorized to use scope %s","missing.permissions":"Unable to perform the requested action. You are missing the following permission(s): %s","not.authorized":"You are not authorized to perform the requested action.","missing.any.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s","authz.policy.denied":"Unable to perform the requested action. Your organization's security policies have denied access. Policy ID(s): [%s]","missing.any.division.permissions":"Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"not.found":"The requested resource was not found."}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"client.timeout":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads."}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.conflict":"The request conflicts with the current state of the target resource."}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"request.entity.too.large":"The request is over the size limit. Maximum bytes: %s"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"unsupported.media.type":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"too.many.requests.retry.after":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","too.many.requests":"Rate limit exceeded the maximum [%s] requests within [%s] seconds"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"internal.server.error":"The server encountered an unexpected condition which prevented it from fulfilling the request."}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"service.unavailable":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"},"x-inin-error-codes":{"authentication.request.timeout":"Authentication request timeout.","request.timeout":"The request timed out."}}},"security":[{"Guest Chat JWT":[]}],"deprecated":true,"x-purecloud-method-name":"getWebchatGuestConversationMessages"}}},"securityDefinitions":{"PureCloud OAuth":{"type":"oauth2","authorizationUrl":"https://login.mypurecloud.com/authorize","flow":"implicit","scopes":{"all":"All the scopes"}},"Guest Chat JWT":{"type":"apiKey","name":"Authorization","in":"header"}},"definitions":{"CreateWebChatConversationRequest":{"type":"object","required":["deploymentId","memberInfo","organizationId","routingTarget"],"properties":{"organizationId":{"type":"string","description":"The organization identifier."},"deploymentId":{"type":"string","description":"The web chat Deployment ID which contains the appropriate settings for this chat conversation."},"routingTarget":{"description":"The routing information to use for the new chat conversation.","$ref":"#/definitions/WebChatRoutingTarget"},"memberInfo":{"description":"The guest member info to use for the new chat conversation.","$ref":"#/definitions/GuestMemberInfo"},"memberAuthToken":{"type":"string","description":"If the guest member is an authenticated member (ie, not anonymous) his JWT is provided here. The token will have been previously generated with the \"POST /api/v2/signeddata\" resource."},"journeyContext":{"description":"A subset of the Journey System's data relevant to this conversation/session request (for external linkage and internal usage/context).","$ref":"#/definitions/JourneyContext"}}},"WebChatRoutingTarget":{"type":"object","required":["targetAddress","targetType"],"properties":{"targetType":{"type":"string","description":"The target type of the routing target, such as 'QUEUE'.","enum":["QUEUE"]},"targetAddress":{"type":"string","description":"The target of the route, in the format appropriate given the 'targetType'."},"skills":{"type":"array","description":"The list of skill names to use for routing.","items":{"type":"string"}},"language":{"type":"string","description":"The language name to use for routing."},"priority":{"type":"integer","format":"int64","description":"The priority to assign to the conversation for routing."}}},"GuestMemberInfo":{"type":"object","required":["displayName"],"properties":{"displayName":{"type":"string","description":"The display name to use for the guest member in the conversation."},"firstName":{"type":"string","description":"The first name to use for the guest member in the conversation."},"lastName":{"type":"string","description":"The last name to use for the guest member in the conversation."},"email":{"type":"string","description":"The email address to use for the guest member in the conversation."},"phoneNumber":{"type":"string","description":"The phone number to use for the guest member in the conversation."},"avatarImageUrl":{"type":"string","format":"uri","description":"The URL to the avatar image to use for the guest member in the conversation, if any."},"customFields":{"type":"object","description":"Any custom fields of information, in key-value format, to attach to the guest member in the conversation.","additionalProperties":{"type":"string"}}}},"JourneyContext":{"type":"object","required":["customer"],"properties":{"customer":{"description":"A subset of the Journey System's customer data at a point-in-time (for external linkage and internal usage/context)","$ref":"#/definitions/JourneyCustomer"},"customerSession":{"description":"A subset of the Journey System's tracked customer session data at a point-in-time (for external linkage and internal usage/context)","$ref":"#/definitions/JourneyCustomerSession"},"triggeringAction":{"description":"A subset of the Journey System's action data relevant to a part of a conversation (for external linkage and internal usage/context)","$ref":"#/definitions/JourneyAction"}}},"JourneyCustomer":{"type":"object","required":["id","idType"],"properties":{"id":{"type":"string","description":"An ID of a customer within the Journey System at a point-in-time.  Note that a customer entity can have multiple customerIds based on the stitching process.  Depending on the context within the PureCloud conversation, this may or may not be mutable."},"idType":{"type":"string","description":"The type of the customerId within the Journey System (e.g. cookie)."}}},"JourneyCustomerSession":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"An ID of a Customer/User's session within the Journey System at a point-in-time"},"type":{"type":"string","description":"The type of the Customer/User's session within the Journey System (e.g. web, app)"}}},"JourneyAction":{"type":"object","required":["actionMap","id"],"properties":{"id":{"type":"string","description":"The ID of an action from the Journey System (an action is spawned from an actionMap)"},"actionMap":{"description":"Details about the action map from the Journey System which triggered this action","$ref":"#/definitions/JourneyActionMap"}}},"JourneyActionMap":{"type":"object","required":["id","version"],"properties":{"id":{"type":"string","description":"The ID of the actionMap in the Journey System which triggered this action"},"version":{"type":"integer","format":"int32","description":"The version number of the actionMap in the Journey System at the time this action was triggered"}}},"CreateWebChatConversationResponse":{"type":"object","properties":{"id":{"type":"string","description":"Chat Conversation identifier"},"jwt":{"type":"string","description":"The JWT that you can use to identify subsequent calls on this conversation"},"eventStreamUri":{"type":"string","format":"uri","description":"The URI which provides the conversation event stream."},"member":{"description":"Chat Member","$ref":"#/definitions/WebChatMemberInfo"}}},"WebChatMemberInfo":{"type":"object","required":["role"],"properties":{"id":{"type":"string","description":"The communicationId of this member."},"displayName":{"type":"string","description":"The display name of the member."},"firstName":{"type":"string","description":"The first name of the member."},"lastName":{"type":"string","description":"The last name of the member."},"email":{"type":"string","description":"The email address of the member."},"phoneNumber":{"type":"string","description":"The phone number of the member."},"avatarImageUrl":{"type":"string","format":"uri","description":"The url to the avatar image of the member."},"role":{"type":"string","description":"The role of the member, one of [agent, customer, acd, workflow]","enum":["AGENT","CUSTOMER","WORKFLOW","ACD"]},"joinDate":{"type":"string","format":"date-time","description":"The time the member joined the conversation. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z"},"leaveDate":{"type":"string","format":"date-time","description":"The time the member left the conversation, or null if the member is still active in the conversation. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z"},"authenticatedGuest":{"type":"boolean","description":"If true, the guest member is an authenticated guest."},"customFields":{"type":"object","description":"Any custom fields of information pertaining to this member.","additionalProperties":{"type":"string"}},"state":{"type":"string","description":"The connection state of this member.","enum":["CONNECTED","DISCONNECTED","ALERTING"]}}},"ErrorBody":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"status":{"type":"integer","format":"int32"},"entityId":{"type":"string"},"entityName":{"type":"string"},"messageWithParams":{"type":"string"},"messageParams":{"type":"object","additionalProperties":{"type":"string"}},"contextId":{"type":"string"},"details":{"type":"array","items":{"$ref":"#/definitions/Detail"}},"errors":{"type":"array","items":{"$ref":"#/definitions/ErrorBody"}},"limit":{"$ref":"#/definitions/Limit"}}},"Detail":{"type":"object","properties":{"errorCode":{"type":"string"},"fieldName":{"type":"string"},"entityId":{"type":"string"},"entityName":{"type":"string"}}},"Limit":{"type":"object","properties":{"key":{"type":"string"},"namespace":{"type":"string","enum":["agent.assistant","analytics.agents","analytics.alerting","analytics","analytics.realtime","analytics.reporting.settings","architect","audiohook","audit","auth.api","authorization","automation.testing","bots","bots.voice","business.rules","callback","cobrowse","content.management","conversation","dataactions","datatables","directory","email","employee.engagement","event.orchestration","external.contacts","external.events.data.ingestion","gamification","gcv","gdpr","groups","historical.adherence","infrastructureascode","integrations","intent.miner","internal.messaging","journey","knowledge","language.understanding","learning","limit.registry","marketplace","media.communications","messaging","micro.frontend","notifications","onboarding","outbound","platform.api","predictive.routing","presence","quality","recording","response.management","routing","scim","search","secondary.automation.testing","skills","social.media","speech.and.text.analytics","speech.integration","supportability","task.management","telephony.configuration","usage","users","web.deployments","web.messaging","webchat","webhooks","workforce.management.forecast","workforce.management","system"]},"value":{"type":"integer","format":"int64"}}},"WebChatGuestMediaRequest":{"type":"object","required":["state","types"],"properties":{"id":{"type":"string","description":"The globally unique identifier for the object.","readOnly":true},"name":{"type":"string"},"types":{"type":"array","description":"The types of media being requested.","items":{"type":"string","enum":["COBROWSE","SCREENSHARE"]}},"state":{"type":"string","description":"The state of the media request, one of PENDING|ACCEPTED|DECLINED|TIMEDOUT|CANCELLED|ERRORED.","enum":["PENDING","ACCEPTED","DECLINED","TIMEDOUT","CANCELLED","ERRORED"]},"communicationId":{"type":"string","description":"The ID of the new media communication, if applicable."},"securityKey":{"type":"string","description":"The security information related to a media request."},"selfUri":{"type":"string","format":"uri","description":"The URI for this object","readOnly":true}},"description":"Object representing the guest model of a media request of a chat conversation."},"WebChatGuestMediaRequestEntityList":{"type":"object","properties":{"entities":{"type":"array","items":{"$ref":"#/definitions/WebChatGuestMediaRequest"}}}},"CreateWebChatMessageRequest":{"type":"object","required":["body"],"properties":{"body":{"type":"string","description":"The message body. Note that message bodies are limited to 4,000 characters."},"bodyType":{"type":"string","description":"The purpose of the message within the conversation, such as a standard text entry versus a greeting.","enum":["standard","notice","member-join","member-leave","media-request"]}}},"WebChatMessage":{"type":"object","required":["body","bodyType","conversation","sender","timestamp"],"properties":{"id":{"type":"string","description":"The globally unique identifier for the object.","readOnly":true},"name":{"type":"string"},"conversation":{"description":"The identifier of the conversation","$ref":"#/definitions/WebChatConversation"},"sender":{"description":"The member who sent the message","$ref":"#/definitions/WebChatMemberInfo"},"body":{"type":"string","description":"The message body."},"bodyType":{"type":"string","description":"The purpose of the message within the conversation, such as a standard text entry versus a greeting.","enum":["standard","notice","member-join","member-leave","media-request"]},"timestamp":{"type":"string","format":"date-time","description":"The timestamp of the message, in ISO-8601 format"},"selfUri":{"type":"string","format":"uri","description":"The URI for this object","readOnly":true}}},"WebChatConversation":{"type":"object","properties":{"id":{"type":"string","description":"The globally unique identifier for the object.","readOnly":true},"name":{"type":"string"},"member":{"description":"Chat Member","$ref":"#/definitions/WebChatMemberInfo"},"selfUri":{"type":"string","format":"uri","description":"The URI for this object","readOnly":true}}},"WebChatTyping":{"type":"object","required":["conversation","id","sender","timestamp"],"properties":{"id":{"type":"string","description":"The event identifier of this typing indicator event (useful to guard against event re-delivery"},"conversation":{"description":"The identifier of the conversation","$ref":"#/definitions/WebChatConversation"},"sender":{"description":"The member who sent the message","$ref":"#/definitions/WebChatMemberInfo"},"timestamp":{"type":"string","format":"date-time","description":"The timestamp of the message, in ISO-8601 format"}}},"WebChatMemberInfoEntityList":{"type":"object","properties":{"entities":{"type":"array","items":{"$ref":"#/definitions/WebChatMemberInfo"}},"pageSize":{"type":"integer","format":"int32"},"pageNumber":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"},"firstUri":{"type":"string","format":"uri"},"lastUri":{"type":"string","format":"uri"},"selfUri":{"type":"string","format":"uri"},"nextUri":{"type":"string","format":"uri"},"previousUri":{"type":"string","format":"uri"},"pageCount":{"type":"integer","format":"int32"}}},"WebChatMessageEntityList":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"entities":{"type":"array","items":{"$ref":"#/definitions/WebChatMessage"}},"previousPage":{"type":"string"},"next":{"type":"string"},"selfUri":{"type":"string","format":"uri"}}}},"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authentication bearer token specified in authorization header.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"408":{"description":"The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.","schema":{"$ref":"#/definitions/ErrorBody"}},"409":{"description":"The request conflicts with the current state of the target resource.","schema":{"$ref":"#/definitions/ErrorBody"}},"413":{"description":"The request is over the size limit. Maximum bytes: %s","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Rate limit exceeded the maximum. Retry the request in [%s] seconds","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"externalDocs":{"description":"PureCloud API Documentation","url":"https://developer.genesys.cloud/"}}